{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-md relative z-50">
            <h1 class="text-2xl font-bold mb-6 text-gray-800">Créer un compte</h1>

            {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

            <div class="mb-4">
                {{ form_label(form.username, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                <div class="mt-1">
                    {{ form_widget(form.username, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
                </div>
                {{ form_errors(form.username) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.email, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                <div class="mt-1">
                    {{ form_widget(form.email, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
                </div>
                {{ form_errors(form.email) }}
            </div>

            <div class="mb-4">
                {{ form_label(form.password, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                <div class="mt-1">
                    {{ form_widget(form.password, {'attr': {'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
                </div>
                {{ form_errors(form.password) }}
            </div>

            <div class="mb-4 flex items-center">
                <div class="flex relative">
                    {{ form_widget(form.enable_2fa, {'attr': {'class': 'w-6 h-6 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500'}}) }}
                </div>
                {{ form_label(form.enable_2fa, "Activer l'A2F", {'label_attr': {'class': 'block text-sm font-medium text-gray-700 ml-2'}}) }}
                {{ form_errors(form.enable_2fa) }}
            </div>


            {{ form_end(form) }}

            <div class="mt-4 text-center">
                <a href="{{ path('app_login') }}" class="text-indigo-600 hover:text-indigo-900">Déjà un compte ? Se connecter</a>
            </div>
        </div>
    </div>
{% endblock %}
